language:
  - ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - ruby-head
  - jruby-18mode
  - jruby-19mode
  - jruby-head
  - ree
script:
  - bundle exec rspec
  - ! bundle show rubocop || bundle exec rubocop
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq advancecomp gifsicle jhead jpegoptim libjpeg-progs optipng pngcrush
  - wget http://static.jonof.id.au/dl/kenutils/pngout-20130221-linux.tar.gz
  - tar -xzf pngout-*-linux.tar.gz
  - mv pngout-*-linux pngout-linux
  - npm install -g svgo
env:
  - PATH=pngout-linux/x86_64:$PATH
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
