name: check
on:
  push:
  pull_request:
  schedule:
  - cron: 45 4 * * 2
jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
        - '2.0'
        - '2.1'
        - '2.2'
        - '2.3'
        - '2.4'
        - '2.5'
        - '2.6'
        - '2.7'
        - '3.0'
        - '3.1'
        - '3.2'
        - jruby-9.3
        - jruby-9.4
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby }}"
        bundler-cache: true
    - run: sudo npm install -g svgo
    - run: curl -L "https://github.com/shssoichiro/oxipng/releases/download/v4.0.3/oxipng-4.0.3-x86_64-unknown-linux-musl.tar.gz" | tar -xz -C /usr/local/bin --strip-components 1 --wildcards '*oxipng'
    - run: bundle exec image_optim --info
    - run: bundle exec rspec
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        ruby:
        - '2.6'
        - '2.7'
        - '3.0'
        - '3.1'
        - '3.2'
      fail-fast: false
    continue-on-error: ${{ matrix.ruby == '3.2' }}
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby }}"
        bundler-cache: true
    - uses: actions/cache@v2
      with:
        path: "$HOME/bin"
        key: ${{ runner.os }}
    - run: |
        mkdir "$HOME/bin"
        git fetch origin windows-binaries
        git --work-tree="$HOME/bin" checkout origin/windows-binaries -- '*.exe'
        echo "$HOME/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
    - run: |
        choco install --no-progress imagemagick
        ls C:\'Program Files'\ImageMagick* | % FullName | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
    - run: npm install -g svgo
    - run: bundle exec image_optim --info
    - run: bundle exec rspec
  coverage:
    runs-on: ubuntu-latest
    env:
      CC_TEST_REPORTER_ID: b433c6540d220a2da0663670c9b260806bafdb3a43c6f22b2e81bfb1f87b12fe
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3'
        bundler-cache: true
    - run: sudo npm install -g svgo
    - run: curl -L "https://github.com/shssoichiro/oxipng/releases/download/v4.0.3/oxipng-4.0.3-x86_64-unknown-linux-musl.tar.gz" | tar -xz -C /usr/local/bin --strip-components 1 --wildcards '*oxipng'
    - uses: paambaati/codeclimate-action@v2.7.5
      with:
        coverageCommand: bundle exec rspec
